html,
body {
	margin: 0;
	background-color: #121213;
	color: gray;
	text-align: center;
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	align-items: center;
	justify-content: center;
}

hr {
	border-color: gray;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.wordle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.letter {
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 2rem;
	font-weight: bold;
	flex-direction: column;
	box-sizing: border-box;
	width: 62px;
	height: 62px;
	line-height: 62px;
	background-color: #3a3a3c;
	margin: 3px;
}

.green {
	background-color: #538d4e;
}

.darkgreen {
	background-color: #2a4727;
}

.today {
	color: white;
}

/* Social media icons css */
.smicon {
	padding: 16px 16px;
	fill: #aaa;
	width: 64px;
	height: 64px;
	margin-top: 4rem;
}

.smlink {
	outline: none;
	border: 0;
	text-decoration: none;
}

.smlink svg #down {
	transition: 100ms;
	transition-timing-function: ease-in-out;
	-webkit-transition: 100ms;
	-webkit-transition-timing-function: ease-in-out;
}

.smlink svg:hover #down {
	fill: #fff;
}
