html,
body {
	margin: 0;
	background-color: #121213;
	color: gray;
	text-align: center;
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;

	/* display: flex; */
	align-items: center;
	justify-content: center;
}

hr {
	border-color: gray;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

/* 
bg color: #121213
yellow: #b59f3b
gray: #3a3a3c

62x62 (4px in between?)
green: #538d4e
white: #ffffff
*/

.wordle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.letter {
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 2rem;
	font-weight: bold;
	flex-direction: column;
	box-sizing: border-box;
	width: 62px;
	height: 62px;
	line-height: 62px;
	background-color: #3a3a3c;
	color: white;
	margin: 3px;
}

.green {
	background-color: #538d4e;
}

.today {
	color: white;
}
